.primary_btn {
  color: #fff;
  background-color: #696cff !important;
  border-color: #696cff !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
}
